
<div class="form-wrapper">
  <%= simple_form_for (@lesson)  do |f| %>
    <%= f.input :location, :label => "Select a Location" %>
    <%= f.input :category, :label => "Select a Category" %>
    <%= f.input :description, :label => "Describe the lesson" %>
    <%= f.input :price, :label => "Price" %>
    <%= f.submit 'Create', class: "btn btn-success" %>
  <% end %>
</div>


