
<div class="form-wrapper">
  <%= simple_form_for (@lesson)  do |f| %>
  <p>Select a Category</p>
    <%= f.select :category, category: %w(arts coding school)%>
    <%= f.input :location, :label => "Select a Location" %>
    <%= f.input :description, :label => "Describe the lesson" %>
    <%= f.input :price, :label => "Price" %>
    <%= f.submit 'Create', class: "btn btn-success" %>
  <% end %>
</div>


