
<div class="index-container">
  <div class="card-container">
    <div class="row">
      <% @lessons.each do  |lesson| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <% if lesson.category == "school" %>
        <% bg_path = image_path 'school.png' %>
        <% elsif lesson.category == "coding" %>
        <% bg_path = image_path 'coding.png' %>
        <% elsif lesson.category == "arts" %>
        <% bg_path = image_path 'arts.png' %>
        <% end %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= bg_path %>');">
          <%= link_to lesson_path(lesson) do %>
          <div class="card-category col-xs-4 col-md-12"><%= lesson.title %></div>
          <div class="card-description">
            <p><%= lesson.location %></p>
            <p><%= lesson.category %></p>
          </div>
          <div class="card-price">
            <p><%="DKK #{lesson.price}" %></p>
          </div>
          <div class="card-user">
            <% if lesson.category == "school" %>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/mobajo">
            <% elsif lesson.category == "coding" %>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/ashleeste">
            <% elsif lesson.category == "arts" %>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/jeremyboom8">
          <% end %>
          </div>
          <a class="card-link" href="<%= lesson_path(lesson) %>" ></a>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div id="map" class="hidden-xs" style= "height: 100vh; width: 400px;"></div>
</div>

<% content_for(:after_js) do %>
<script type="text/javascript">
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: { id: 'map' } }, function() {
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    if (markers.length == 0) {
      handler.getMap().setZoom(2);
    } else if (markers.length == 1) {
      handler.getMap().setZoom(14);
    }
  });
</script>
<% end %>






