
<div class="booking-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "book.jpeg" %>');">
  <div class="banner-content">
    <h1>Book a <%= @lesson.category %> lesson</h1>
    <p>Easy and Simple Lessons from a Professional</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <!-- <div class="form-wrapper"> -->
       <div class="icons">
        <i class="fa fa-graduation-cap" aria-hidden="true"> Professional Teachers</i>  <i class="fa fa-book" aria-hidden="true"> Advanced Lessons </i>  <i class="fa fa-calendar-check-o" aria-hidden="true"> Your Schedule</i>  <i class="fa fa-map-marker" aria-hidden="true"> Conviently Located</i>
      </div>

      <div class="lesson-description">
        <div class="lesson-booking-card-category">
          <h3><%= @lesson.title %></h2>
          </div>
          <div class="lesson-booking-card-description">
            <!-- <div class="info-form"> -->
              <%= @lesson.description %>
            </div>
            <div class='lesson-booking-card-price'>
              <p><%= "DKK #{@lesson.price} per hour" %></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="booking-form">
            <div class="form-wrapper input-text">
              <%= simple_form_for([@lesson, @booking])  do |f| %>
              <div class="form-title">
                <%= f.input :booking_time, label: "Select A Lesson Time" %>
              </div>
              <div class="form-button">
                <%= f.submit 'Book Now', class: "btn btn-danger booking-btn" %>
              </div>
              <% end %>
            </div>
          </div>
        </div>

