

<div class="form-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="form-wrapper">
          <div class="info-form">
            <h1><%= @lesson.title %></h1>
            <h1><%= @lesson.description %></h1>
            <h2>Book a <%= @lesson.category %> lesson</h2>
          </div>
        </div>
      </div>
      <!-- </div> -->
      <div class="col-xs-12 col-md-4">
        <!-- <div class= "form"> -->
          <div class="booking-form">
            <div class="form-wrapper">
              <%= simple_form_for ([@lesson, @booking])  do |f| %>
              <%= f.input :booking_time, :label => "Select lesson time" %>
              <%= f.submit 'Book Now', class: "btn btn-danger" %>
              <% end %>

            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
