
<!-- NAVBAR -->

   <div class="navbar-wagon">
    <!-- Logo -->
    <a href="/" class="navbar-wagon-brand">
      <%= image_tag "logo.png", {id: "logo"}%>
    </a>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <%= link_to "Create Lesson", new_lesson_path, class: "navbar-wagon-item btn btn-primary btn-teachpin" %>
      <% if !current_user %>
      <%= link_to "Login", new_user_session_path, class: "navbar-wagon-item navbar-btn" %>
      <a href="/users/sign_up" class="navbar-wagon-item navbar-btn">Sign up</a>
      <% end %>


      <!-- Profile picture with dropdown list -->
      <% if current_user %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <img src="https://kitt.lewagon.com/placeholder/users/ashleeste" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><%= link_to "My Dashboard", dashboard_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: 'delete' %></li>
    <% end %>
          </ul>
        </div>
      </div>
    </div>

    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="/create">Create Lesson</a></li>
           <li><a href="#">Profile</a></li>
            <li><%= link_to "My Dashboard", dashboard_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: 'delete' %></li>
        </ul>
      </div>
    </div>
  </div>



</body>
</html>

